<div class="background"></div>

<style>
  .background {
    position: fixed;
    inset: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    background-image:
      linear-gradient(to right, #8080800a 1px, transparent 1px),
      linear-gradient(to bottom, #8080800a 1px, transparent 1px);
    background-size: 14px 24px;
  }
</style>
