<div class="fixed inset-0 -z-2 w-screen h-screen bg-[#2b1508] bg-[linear-gradient(to_right,rgba(255,160,80,0.06)_1px,transparent_1px),linear-gradient(to_bottom,rgba(255,160,80,0.06)_1px,transparent_1px)] bg-size-[14px_24px]"></div>
